@page "/"

<div class="flex flex-grow bg-gray-200 flex-col">
    <div class="flex flex-grow bg-white m-3 rounded-sm shadow-lg">
        <div class="flex p-4 font-bold text-lg border-b-2 mx-3
                     border-black h-14 flex-grow">
            <p>DASHBOARD</p>
        </div>
        <div></div>
    </div>
</div>