@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Inputs
@using Blazor.Models
@inject HttpClient httpclient

@page "/tprojeto"

@{

}

@error123
<div class="flex bg-gray-100 flex-grow flex-col">
    <div class="flex p-4 font-bold text-2xl text-gray-800 border-b-2 mx-3 border-blue-600 border-opacity-90 h-14 ">
        <p>TABELAS</p>
        <p class="px-3"> | </p>
        <p>PROJETOS</p>
    </div>
    <div class="flex bg-white m-3 rounded-sm shadow-lg">
        <div class="flex">

            <SfGrid @ref="DefaultGrid" ID="Grid" TValue="Projeto" Toolbar=@ToolbarItems AllowSorting="true" AllowPaging="true"
                    AllowExcelExport="true" AllowPdfExport="true" ContextMenuItems=@ContextMenuItems>
                <SfDataManager Url="api/Projeto" CrossDomain="true" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>

                <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Normal">
                </GridEditSettings>
                <GridSelectionSettings Type="SelectionType.Multiple"></GridSelectionSettings>
                <SfToolbar>
                    <ToolbarItems>
                        <ToolbarItem Type="ItemType.Input" Align="Syncfusion.Blazor.Navigations.ItemAlign.Left">
                            <Template>
                                <span class="e-search-icon e-icons" style="padding-right: 4pt;"></span>
                                <SfTextBox Placeholder="Pesquisar" Input="OnInput" Width="500px"></SfTextBox>
                            </Template>
                        </ToolbarItem>
                    </ToolbarItems>
                </SfToolbar>
                <GridPageSettings PageSizes="true"></GridPageSettings>
                <GridEvents OnActionFailure="ActionFailureHandler" OnToolbarClick="ToolbarClickHandler" TValue="Projeto">
                </GridEvents>

                <GridColumns>
                    <GridColumn Field=@nameof(Projeto.ProjetoId) HeaderText="ID" IsPrimaryKey="true" IsIdentity="true" Width="10"
                                AllowSearching="false" Visible="false">
                    </GridColumn>
                    <GridColumn Field=@nameof(Projeto.ProjetoNumero) HeaderText="N.º" Width="10">
                    </GridColumn>
                    <GridColumn Field="Cliente.ClienteNome" HeaderText="Cliente" Width="30"></GridColumn>
                    <GridColumn Field="Medida.MedidaNome" HeaderText="Medida" Width="20"></GridColumn>
                    <GridColumn Field="Estadoprojeto.EstadoNome" HeaderText="Estado" Width="20"></GridColumn>
                    <GridColumn Field=@nameof(Projeto.ProjetoDatasubmissao) HeaderText="Submissão" Format="d" Type=ColumnType.Date  Width="15"></GridColumn>
                    <GridColumn Field=@nameof(Projeto.ProjetoDatainicio) HeaderText="Início" Format="d" Type=ColumnType.Date Width="15"></GridColumn>
                    <GridColumn Field=@nameof(Projeto.ProjetoDatafim) HeaderText="Fim" Format="d" Type=ColumnType.Date Width="15"></GridColumn>
                    <GridColumn Field=@nameof(Projeto.ProjetoValoraprovado) HeaderText="Investimento" Format="C2" Width="15"></GridColumn>
                    <GridColumn Field=@nameof(Projeto.ProjetoIncentivoaprovado) HeaderText="Incentivo" Format="C2" Width="15"></GridColumn>
                </GridColumns>

            </SfGrid>
        </div>
    </div>
</div>

<style>
    .e-grid .e-headercell {
        background-color: rgba(37, 99, 235, 0.9);
        font-weight: bolder;
        color: white;
    }
</style>

@code {
    private SfGrid<Projeto> DefaultGrid;

    public void OnInput(InputEventArgs args)
    {
        this.DefaultGrid.Search(args.Value);
    }

    private List<object> ToolbarItems = new List<object>()
    {
        new ItemModel() {Text = "Novo", PrefixIcon = "e-add", Id = "Grid_add"},
        new ItemModel() {Text = "Editar", PrefixIcon = "e-edit", Id = "Grid_edit"},
        new ItemModel() {Text = "Apagar", PrefixIcon = "e-delete", Id = "Grid_delete"},
        new ItemModel() {Text = "Guardar", PrefixIcon = "e-update", Id = "Grid_update"},
        new ItemModel() {Text = "Cancelar", PrefixIcon = "e-cancel", Id = "Grid_cancel"},
        new ItemModel() {Text = "Excel", PrefixIcon = "e-excelexport", Id = "Grid_excelexport"},
        new ItemModel() {Text = "PDF", PrefixIcon = "e-pdfexport", Id = "Grid_pdfexport"}
    };

    private List<object> ContextMenuItems = new List<object>()
    {
        "Edit",
        "Delete",
        "Copy"
    };

    public string error123;

    public void ActionFailureHandler()
    {
    // Exception myReturnedException = args.Error;
    //error123 = myReturnedException.ToString();
    }

    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "Grid_excelexport") //Id is combination of Grid's ID and itemname
        {
            await this.DefaultGrid.ExcelExport();
        }

        if (args.Item.Id == "Grid_pdfexport") //Id is combination of Grid's ID and itemname
        {
            await this.DefaultGrid.PdfExport();
        }
    }

}