@using CNCliente.Models
@using System.IO
@using System.Text.Json
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json

@page "/ttarefa"

@{

}

<div class="flex bg-gray-100 flex-grow flex-col">
    <div class="flex p-4 font-bold text-2xl text-gray-800 border-b-2 mx-3 border-blue-600 border-opacity-90 h-14 ">
        <p>TABELAS</p>
        <p class="px-3"> | </p>
        <p>TAREFAS</p>
    </div>
    <div class="flex bg-white m-3 rounded-sm shadow-lg">
        <div class="flex">

            @if (tarefas == null)
            {
                <p>No Todo Items found.</p>
            }
            else
            {
                <ul>
                    @foreach (var item in tarefas)
                    {
                        <li>@item.tarefaNome</li>
                    }
                </ul>
            }



        </div>
    </div>
</div>

<div>Clicar: </div>
<div>Action: </div>
<div>Action Completed: </div>
<div>Data Bound: </div>

@code {

    IList<tarefa> tarefas { get; set; } 

    protected override async Task OnInitializedAsync() =>
    tarefas = await Http.GetFromJsonAsync<List<tarefa>>("api/Tarefa");

}