@inherits LayoutComponentBase

<div class="">
    <div class="flex h-screen">

        <!--SIDEBAR-->
        <SideBar/>


        <!--NAVBAR-->
        <div class="flex flex-col flex-grow">
            <NavBar/>
            <SubNavBar/>
    

                <!--BODY-->
                
                    @Body
                    
                
                


            </div>
        </div>
    </div>