<div class="flex flex-col w-72 bg-blue-600 bg-opacity-90 sm:flex hidden">
    <div class="flex flex-row flex-shrink-0 h-14">
        <div class="flex items-center">
            <div class="flex flex-none w-12"></div>
            <div class="flex items-center text-xl justify-center font-semibold text-white">ADN</div>
            <div class="flex flex-none w-12"></div>
        </div>
    </div>
    <div class="py-3 bg-white"></div>
    <div class="flex flex-col flex-grow bg-white">
        <div class="flex flex-col">
            <div class="flex font-semibold py-2 pl-6 hover:bg-blue-600 hover:bg-opacity-90 cursor-pointer hover:text-white">
                <div class="flex-none w-11">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"/>
                    </svg>
                </div>
                <div class="flex-grow w-44">DASHBOARD</div>
                <div class="flex-none w-12">

                </div>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="flex font-semibold py-2 pl-6 hover:bg-blue-600 hover:bg-opacity-90 cursor-pointer hover:text-white">
                <div class="flex-none w-11">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 10h16M4 14h16M4 18h16"/>
                    </svg>
                </div>
                <div class="flex-grow w-44">LISTAGENS</div>
                <div class="flex-none w-12">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 items-left" fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                              d="M19 9l-7 7-7-7"/>
                    </svg>
                </div>
            </div>
            <div class="cursor-pointer  ">
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <p class="pl-16">Clientes</p>
                </div>
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <p class="pl-16">Projetos</p>
                </div>
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <p class="pl-16">Medidas</p>
                </div>
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <p class="pl-16">Estados</p>
                </div>
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <p class="pl-16">Contactos</p>
                </div>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="flex font-semibold py-2 pl-6 hover:bg-blue-600 hover:bg-opacity-90 cursor-pointer hover:text-white">
                <div class="flex-none w-11">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"/>
                    </svg>
                </div>
                <div class="flex-grow w-44">TABELAS</div>
                <div class="flex-none w-12">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 items-left" fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                              d="M19 9l-7 7-7-7"/>
                    </svg>
                </div>
            </div>
            <div class="cursor-pointer">
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <NavLink href="tcliente">
                        <p class="pl-16">Clientes</p>
                    </NavLink>
                </div>
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <NavLink href="tprojeto">
                        <p class="pl-16">Projetos</p>
                    </NavLink>
                </div>
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <NavLink href="tmedida">
                        <p class="pl-16">Medidas</p>
                    </NavLink>
                </div>
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <NavLink href="testadoprojeto">
                        <p class="pl-16">Estados</p>
                    </NavLink>
                </div>
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <NavLink href="tcontacto">
                        <p class="pl-16">Contactos</p>
                    </NavLink>
                </div>
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <NavLink href="tcae">
                        <p class="pl-16">CAE</p>
                    </NavLink>
                </div>
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <NavLink href="tdistrito">
                        <p class="pl-16">Distritos</p>
                    </NavLink>
                </div>
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <NavLink href="tconcelho">
                        <p class="pl-16">Concelhos</p>
                    </NavLink>
                </div>
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <NavLink href="ttarefa">
                        <p class="pl-16">Tarefas</p>
                    </NavLink>
                </div>
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <NavLink href="tcodpostal">
                        <p class="pl-16">Codigo Postal</p>
                    </NavLink>
                </div>
                <div class="py-1 hover:bg-blue-600 hover:bg-opacity-10 border-l-4 border-opacity-0 hover:border-blue-600 cursor-pointer">
                    <NavLink href="tutilizador">
                        <p class="pl-16">Utilizadores</p>
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-shrink-0 h-14">Footer</div>
</div>

@code
{
    [Parameter]
    public string HiddenIsTrue { get; set; }
}