@using Syncfusion.Blazor
@using Syncfusion.Blazor.Navigations

<div class="flex place-items-center bg-gray-100 pl-2 h-10 text-sm font-semibold">
    <SfMenu TValue="MenuItem">
        <MenuItems>

            <MenuItem Text="Clientes">
                <MenuItems>
                    <MenuItem Text="Criar cliente"></MenuItem>
                    <MenuItem Text="Procurar cliente"></MenuItem>
                    <MenuItem Text="Editar cliente"></MenuItem>
                </MenuItems>
            </MenuItem>

            <MenuItem Text="Projetos">
                <MenuItems>
                    <MenuItem Text="Criar projeto"></MenuItem>
                    <MenuItem Text="Procurar projeto"></MenuItem>
                    <MenuItem Text="Editar projeto"></MenuItem>
                </MenuItems>
            </MenuItem>
            
            <MenuItem Text="Contactos">
                            <MenuItems>
                                <MenuItem Text="Adicionar contacto"></MenuItem>
                                <MenuItem Text="Listar contactos"></MenuItem>
                            </MenuItems>
                        </MenuItem>
            
            <MenuItem Text="Medidas">
                <MenuItems>
                    <MenuItem Text="Criar cliente"></MenuItem>
                    <MenuItem Text="Procurar cliente"></MenuItem>
                    <MenuItem Text="Editar cliente"></MenuItem>
                </MenuItems>
            </MenuItem>

        </MenuItems>
    </SfMenu>
</div>